body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box{
    min-width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}
.notification {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 10px 0;
}
